{% extends 'base.html.twig' %} {% block body %}

<h1 class="text-white font-bold text-6xl mt-20">Contactez- <span class="gradient">nous !</span></h1>
<div class="flex-col md:flex-row flex mt-10">
    <div>
        <div class="flex">
            <div class=" self-center w-[70px] h-[70px] rounded-[20px] flex justify-center items-center bg-gradient-to-br from-blue-500 via-purple-600 to-orange-500 mt-5">
                <div>
                    <svg class="self-center" width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.95831 11.75V43.0834L15.6666 35.25L31.3333 43.0834L45.0416 35.25V3.91669L31.3333 11.75L15.6666 3.91669L1.95831 11.75Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M15.6667 3.91669V35.25" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M31.3333 11.75V43.0833" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
            <h3 class=" text-white font-bold text-2xl mt-10 ml-7"> 9 Rue des potiers, Lyon 69000</h3>
        </div>
        <div class="flex">
            <div  class="self-center w-[70px] h-[70px] rounded-[20px] flex justify-center items-center bg-gradient-to-br from-blue-500 via-purple-600 to-orange-500 mt-10">
                <div>
                    <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M28.8458 9.58335C30.7179 9.9486 32.4384 10.8642 33.7871 12.2129C35.1359 13.5616 36.0514 15.2821 36.4167 17.1542M28.8458 1.91669C32.7353 2.34877 36.3622 4.09052 39.1311 6.85595C41.9001 9.62138 43.6464 13.2461 44.0833 17.135M42.1667 32.43V38.18C42.1688 38.7138 42.0595 39.2422 41.8457 39.7313C41.6318 40.2204 41.3182 40.6594 40.9248 41.0203C40.5315 41.3811 40.0671 41.6559 39.5614 41.8269C39.0558 41.9979 38.52 42.0614 37.9883 42.0134C32.0904 41.3725 26.4251 39.3571 21.4475 36.1292C16.8165 33.1865 12.8902 29.2602 9.94751 24.6292C6.70831 19.629 4.69248 13.9361 4.06335 8.01169C4.01545 7.48167 4.07844 6.94748 4.24831 6.44313C4.41817 5.93879 4.69119 5.47534 5.04998 5.08229C5.40877 4.68925 5.84547 4.37521 6.33228 4.16019C6.81909 3.94516 7.34533 3.83385 7.87751 3.83335H13.6275C14.5577 3.8242 15.4594 4.15359 16.1647 4.76012C16.87 5.36666 17.3307 6.20896 17.4608 7.13002C17.7035 8.97015 18.1536 10.7769 18.8025 12.5159C19.0604 13.2019 19.1162 13.9474 18.9633 14.6642C18.8105 15.381 18.4553 16.0389 17.94 16.56L15.5058 18.9942C18.2343 23.7926 22.2074 27.7657 27.0058 30.4942L29.44 28.06C29.9611 27.5447 30.6191 27.1896 31.3358 27.0367C32.0526 26.8838 32.7982 26.9396 33.4842 27.1975C35.2231 27.8464 37.0299 28.2965 38.87 28.5392C39.8011 28.6705 40.6514 29.1395 41.2592 29.8569C41.867 30.5743 42.19 31.49 42.1667 32.43Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                 </div>
            </div>
            <h3 class=" text-white font-bold text-2xl mt-14 ml-7"> 07 82 60 43 99</h3>
        </div>
        <div class="flex">
            <div  class=" self-center w-[70px] h-[70px] rounded-[20px] flex justify-center items-center bg-gradient-to-br from-blue-500 via-purple-600 to-orange-500 mt-10">
                <div>
                    <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.83335 7.83331H39.1667C41.3209 7.83331 43.0834 9.59581 43.0834 11.75V35.25C43.0834 37.4041 41.3209 39.1666 39.1667 39.1666H7.83335C5.67919 39.1666 3.91669 37.4041 3.91669 35.25V11.75C3.91669 9.59581 5.67919 7.83331 7.83335 7.83331Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M43.0834 11.75L23.5 25.4583L3.91669 11.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
            <h3 class=" text-white font-bold text-2xl mt-14 ml-7"> contact@gmail.com</h3>
        </div>
    </div>
    <div class="ml-20 mt-6">
        <iframe class=""src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2627.1952209294936!2d7.784371415613073!3d48.81633651162095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4796ead79d037723%3A0xb460401cd043be5f!2sIUT%20de%20Haguenau!5e0!3m2!1sfr!2sfr!4v1678895524019!5m2!1sfr!2sfr"
        width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</div>

{% endblock %}