{% extends 'base.html.twig' %} 
{% block title %}Mentions | Nomad Explorer {% endblock %} 

{% block body %}
<h1 class="text-center text-4xl font-bold mt-[50px]">Mentions légales</h1>
<div class="mx-auto w-7/12 flex flex-col gap-7 mt-10">
    <div class="text-justify">
        <h2 class="informations-title">Editeurs du site :</h2>
        <p class="text-base md:text-lg">Développeur Front-end : POINTUD Axel, CHENOT Gabin, GROSS Sébastien</p>
        <p class="text-base md:text-lg">Développeur Back-end : MICKISZ Eloïck</p>
    </div>
    <div>
        <h2 class="informations-title">Adresse :</h2>
        <p class="text-base md:text-lg">9 rue Georges Abérration abérrante</p>
        <p class="text-base md:text-lg">Strasbourg, 67000</p>
    </div>
    <div class="text-justify">
        <h2 class="informations-title">Service fournis<h2>
        <p class="text-base md:text-lg">
            Le site partage des parcours de voyages crée pour tout types de budget et tout types de personnes.
            Nous nous efforçons de fournir sur le site des informations aussi précises que possible. les renseignements 
            figurant sur le site ne sont pas exhaustifs et les photos non contractuelles. Ils sont donnés sous réserve de
            modifications ayant été apportées depuis leur mise en ligne. Par ailleurs, tous les informations indiquées sur
            le site sont données à titre indicatif, et sont susceptibles de changer ou d’évoluer sans préavis.
        </p>
    </div>
    <div class="text-justify">
        <h2 class="informations-title">Limitation contractuelles sur les données<h2>
        <p class="text-base md:text-lg">
            Les informations contenues sur ce site sont aussi précises que possible et le site remis à jour à différentes 
            périodes de l’année, mais peut toutefois contenir des inexactitudes ou des omissions. Si vous constatez une 
            lacune, erreur ou ce qui parait être un dysfonctionnement, merci de bien vouloir le signaler par email, à l’
            adresse support@nomadexplorer.fr, en décrivant le problème de la manière la plus précise possible (page posant 
            problème, type d’ordinateur et de navigateur utilisé, …). Tout contenu téléchargé se fait aux risques et périls 
            de l'utilisateur et sous sa seule responsabilité. En conséquence, ne saurait être tenu responsable d'un quelconque 
            dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.
            De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus 
            et avec un navigateur de dernière génération mis-à-jour Les liens hypertextes mis en place dans le cadre du présent 
            site internet en direction d'autres ressources présentes sur le réseau Internet ne sauraient engager notre responsabilité
        </p>
    </div>
</div>
    
{% endblock %}