{% extends 'base.html.twig' %} 
{% block title %}Politique | Nomad Explorer {% endblock %} 

{% block body %}
<h1 class="text-center text-4xl font-bold mt-[50px] lg:text-5xl">Politiques de confidentialité</h1>
<div class="mx-auto w-full lg:w-8/12 flex flex-col gap-7 mt-10">
    <div class="text-justify">
        <p class="text-base lg:text-lg">
            Le site Web NomadExplorer est détenus et exploités par les éditeurs du sites (voir page mentions légales). 
            Cette politique de confidentialité de NomadExplorer (la « Politique de confidentialité ») est destinée à vous
            informer de nos politiques et pratiques concernant la collecte, l'utilisation et la divulgation de toute 
            information que vous nous soumettez via NomadExplorer. Cela inclut les « Informations personnelles, " qui
            sont des informations vous concernant qui sont personnellement identifiables telles que votre nom, votre
            votre numéro d'identification d'utilisateur et d'autres informations non publiques associées à ce qui précède, 
            ainsi que des "informations anonymes", qui sont des informations qui ne sont pas associées avec ou lié à vos 
            informations personnelles et ne permet pas l'identification de personnes individuelles.
        </p>
    </div>
    <div class="text-justify">
        <h2 class="informations-title">Contenu utilisateur</h2>
        <p class="text-base lg:text-lg">
            En accédant ou en utilisant autrement NomadExplorer, vous acceptez les termes et conditions de cette politique de
            confidentialité et les conditions d'utilisation associées (énoncées ici), vous consentez expressément au traitement
            de vos informations personnelles et informations anonymes conformément à cette Politique de confidentialité. Vos
            informations personnelles peuvent être traitées par nous dans le pays où elles ont été collectées ainsi que dans 
            d'autres pays (y compris les États-Unis) où les lois concernant le traitement des informations personnelles peuvent 
            être moins strictes que les lois de votre pays.
        </p>
    </div>
    <div>
        <h1 class="text-[28px] lg:text-[40px] font-bold mt-12 mb-[25px]">Collection et utilisation des informations</h2>
        <h2 class="informations-title">Informations personnelles<h2>
        <p class="text-base lg:text-lg text-justify">
            En général, nous collectons les informations personnelles que vous nous soumettez volontairement via 
            NomadExplorer. Nous collectons également les informations que vous soumettez lors du processus
            de création ou de modification de votre compte et de votre profil d'utilisateur sur NomadExplorer.
            Par exemple, notre processus d'inscription et de connexion nécessite que vous nous fournissiez votre nom, 
            votre adresse e-mail valide et le mot de passe de votre choix. Lorsque vous personnalisez votre profil et
            utilisez les fonctionnalités de NomadExplorer, nous collecterons toutes les informations que vous
            fournissez volontairement, et nous pouvons également demander des informations facultatives pour vous aider
            à utiliser NomadExplorer, telles que votre année de naissance, le sexe et d'autres informations
            démographiques. Nous collectons des informations sous la forme du contenu que vous soumettez lors de votre
            utilisation de NomadExplorer, telles que des photos, des commentaires, des évaluations et d'autres 
            informations que vous choisissez de soumettre. Nous pouvons également collecter des informations sur vous et vos 
            amis, à partir de tout réseau social à partir duquel vous vous êtes connecté, afin de vous offrir une expérience 
            plus personnalisée. Par exemple, nous pouvons collecter votre identifiant d'utilisateur ou les informations de 
            profil que vous avez autorisé à afficher via NomadExplorer afin de vous afficher en tant qu'ami ou 
            en association avec votre profil et vos collections. Lorsque vous commandez nos produits ou services, vous devrez 
            soumettre votre carte de crédit ou d'autres informations de paiement afin que nos fournisseurs de services 
            puissent traiter votre paiement pour ces produits et services. Si vous choisissez de vous inscrire pour recevoir 
            des informations sur les produits ou services susceptibles de vous intéresser, nous collecterons votre adresse 
            e-mail et toutes les informations connexes. De plus, nous collectons toutes les informations que vous saisissez 
            volontairement, y compris les informations personnelles, dans toute publication. , des commentaires ou des 
            forums au sein de la communauté NomadExplorer.

        </p>
    </div>
</div>
    
{% endblock %}