{% extends 'base.html.twig' %} {% block title %}New Voyage{% endblock %} {%
block body %}
<h1 class="my-12 text-center text-3xl font-bold">Ajout d'un voyage</h1>

{{ include("voyage/_form.html.twig", { button_label: "Ajouter" }) }}

{% endblock %}
